body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #2d5587;
}

#weather-container {
    margin-top: 130px;
    color: whitesmoke;
}

#city {
    margin-top: 80px;

}

#heading {
    font-size: 50px;
    color: #ECF2FF;
}

.container {
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: auto;
    padding: 40px;
}

@media screen and (max-width:499px) {
    .container {
        border: 2px solid black;
        width: 200px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding: 10px;
    }

    #weather-container {
        margin-top: 140px;
        color: whitesmoke;

    }

}

@media screen and (max-width:599px) {
    .container {
        border: 2px solid black;
        width: 250px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding: 10px;
    }

    #weather-container {
        margin-top: 140px;
        color: whitesmoke;
    }
}